#templateContainer
  #templateHeader
    %h1
      #
      = edition
      -
      = pubdate
  #templateBody
    %div
      .baseline
        %h2 Edito
        = edito
        - if contributors
          %br
          %br
          %em
            = contributors

  - topics.each do |t|
    %h3 = t.title
    .baseline = t.baseline
    %table.meat{ cellpadding: 0, cellspacing: 0, border: 0 }
    - t.links.each do |l|
      %tr
        %td
          %a.linktitle{ href: l.url }= l.title
          - if l.duration
            %span.duration
              (
              = l.duration
              )
        %td.date
          = l.pubdate
          - if l.tags
            - l.tags.each do |tag|
              %img.icon{ src: "ico/#{tag}.png", height: 18, width: 18, align: "right", alt: tag }
      %tr
        %td.comment{ colspan: 2 }
          = l.comment
