<div id="first-panel">
	<div><div class="edit-btn btn" {{action toggleEditMode}}>edit</div></div>
	<ul class="inpanel large">
		{{#each controller}}
			<li {{action selectFeed this}} {{bindAttr class="selected"}}>
				{{#if controller.isEditMode}}<div class="delete-btn" {{action deleteFeed this}}>x</div>{{/if}}
				<div class="title">{{title}}</div>
				<div class="date">{{created_at}}</div>
			</li>
		{{/each}}
		{{#view App.NewFeedView}}
			<li class="btn">
				{{#if urlPrompt}} 
					URL: {{input value=newFeedUrl}}
				{{else}}
					+
				{{/if}}
			</li>
		{{/view}}
	</ul>
</div><div id="second-panel">
	<ul class="inpanel">
		{{#each selectedFeed.items}}
			<li class="title" {{action selectItem this}}  {{bindAttr class="selected"}}>				
				{{#if this.picked}}
				 	<span {{action pickItem this}} class="picker picked">✔</span>
				{{else}}
					<span {{action pickItem this}} class="picker unpick">○</span>
				{{/if}}
				{{title}}
			</li>
		{{else}}
			<li class="header">Choose one feed...</li>
		{{/each}}
	</ul>
</div><div id="third-panel">
	{{#if selectedItem}}
		{{{selectedItem.content}}}
	{{else}}
		<div class="prompt">
			Select your item on the left.
		</div>
	{{/if}}
</div>