<div id="first-panel">
	<ul class="inpanel large">
		{{#each controller}}
			<li {{action selectFeed this}}>
				<div class="title">{{title}}</div>
				<div class="date">{{published_at}}</div>
			</li>
		{{/each}}
	</ul>
</div><div id="second-panel">
	<ul class="inpanel">
		{{#each selectedFeed.items}}
			<li class="title" {{action selectItem this}}>{{title}}</li>
		{{else}}
			<li class="header">Choose one feed...</li>
		{{/each}}
	</ul>
</div><div id="third-panel">
	{{#if selectedItem}}
		{{{selectedItem.html}}}
	{{else}}
		<div class="prompt">
			Select your item on the left.
		</div>
	{{/if}}
</div>