<div class="menu">
  <h2>Publications</h2>
  <ul>
    {{ each letter in controller }}
      <li>
        <span>{{ date }}</span>
        <a href="{{ url }}">{{ number }}</a>
      </li>
    {{ endeach }}
  </ul>
</div>

<div class="meat">
  {{ outlet }}
</div>