<div class="menu">
  <ul>
    {{#each letter in controller }}
      <li>
        <span>{{ date }}</span>
        <a href="{{ url }}">{{ number }}</a>
      </li>
    {{else}}
      <li>
        <div>No publication yet</div>
        <div class="padded">
          <a href="#" class="btn" {{action create_publication}}>Create a new one</a>
        </div>
      </li>
    {{/each }}
  </ul>
</div>

<div class="meat">
  {{outlet}}
</div>