<div class="list-panel">
  <ul class="publications">
    <li class="header"><a href="#">Unpublished</a> | <a href="#">Published</a></li>
    {{#each controller }}
      <li>
        <div class="title">{{ title }}</div>
        <div class="date">{{ date }}</div>
      </li>
    {{else}}
      {{this}}
      <li class="header">
        <div>No publication yet</div>
      </li>
      <li class="new" {{action create_publication}}>
        Create a new one
      </li>
    {{/each }}
  </ul>
</div>

<div class="meat">
  {{outlet}}
</div>