<div id="first-panel">
  <div class="menunav">
    {{#linkTo publications.new class="btn small" }}Create{{/linkTo}}
    {{#if controller}}
      <button class="btn small" >Unpublished</button>
      <button class="btn small" >Published</button>
    {{/if}}
  </div>
  <ul class="inpanel compact">
    {{#each controller }}
      <li>
        <div class="title">{{ title }}</div>
        <div class="date">{{ date created_at "%Y-%m-%d" }}</div>
      </li>
    {{else}}
      {{this}}
      <li class="header">
        <div>No publication yet</div>
      </li>
      <li class="new" {{action create_publication}}>
        Create a new one
      </li>
    {{/each }}
  </ul>
</div>


<div id="second-panel">

</div>

<div id="third-panel">
  te meat
  {{outlet}}
</div>