<div class="list-panel">
  <ul>
    <li class="header">Published</li>
    {{#each controller }}
      <li>
        <div class="title">{{ title }}</div>
        <div class="date">{{ date }}</div>
      </li>
    {{else}}
      <li>
        <div>No publication yet</div>
        <div class="padded">
          <a href="#" class="btn" {{action create_publication}}>Create a new one</a>
        </div>
      </li>
    {{/each }}
  </ul>
</div>

<div class="meat">
  {{outlet}}
</div>