<div id="first-panel">
  <div class="menunav">
    <button class="btn small" {{action "new_publication"}}>Create</button>
    {{#if controller}}
      <button class="btn small" >Archives</button>
    {{/if}}
  </div>
  {{ App.PublicationsController.length }}
  <form class="menuform" id="new_publication" style="display: none">
    <div>{{view Em.TextField id="title" placeholder="Title"}}</div>
    <div>{{view Em.TextArea id="edito" rows="10" placeholder="Edito"}}</div>
    <div>{{view Em.TextField id="created_at" placeholder="Publication date"}}</div>
    <div class="action">
      <button class="btn" {{action "cancel_new_publication"}}>Cancel</button>
      <button class="btn primary" {{action "save_new_publication"}}>OK</button>
    </div>
  </form>
  <ul class="inpanel compact">
    {{#each controller}}
      <li>
        <div class="title">{{ title }}</div>
        <div class="date">{{ date created_at "%Y-%m-%d" }}</div>
      </li>
    {{else}}
      <li class="header">
        <div>No publication yet</div>
      </li>
    {{/each }}
  </ul>
</div><div id="second-panel">
  <div>
    where the articles are listed
  </div>
</div><div id="third-panel">
  where the selection of items is listed
  {{outlet}}
</div>