<div class="list-panel">
  <ul class="publications">
    <li class="header">Unpublished</li>
    {{ each letter in controller }}
      <li>
        <span>{{ date }}</span>
        <a href="{{ url }}">{{ number }}</a>
      </li>
    {{ endeach }}
    <li class="header">Published</li>
    <li>Emerald News #1</li>
  </ul>
</div>

<div class="meat">
  {{ outlet }}
</div>