!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Green Ruby
    %meta{:content => "A Newsletter dedicated to weekly fresh news about ruby, web development, javascript, and related topics.", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    != css :application, :media => 'screen'
    != js :app
    %link{:href => "css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/grn.css", :rel => "stylesheet"}/
    %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    %script{ type: "text/x-handlebars", :'data-template-name' => 'application' }
      #container
        #wrapper
          #titlebar
            #logo
              %img{:alt => "Green Ruby", :height => "81", :src => "img/green-ruby-100.png", :width => "100"}/
            %h1 Green Ruby News
          .cell
            %form#signup{:action => "http://codegreenit.us6.list-manage1.com/subscribe/post?u=f1b3b59d2383eeb07537f6440&amp;id=7136c985cf", :method => "post", :target => "_blank"}
              Subscribe to the Green Ruby Weekly Newsletter
              %input.email{:name => "EMAIL", :placeholder => "email address", :type => "email", :value => ""}/
              %input.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
            #nav
              %ul
                %li {{#linkTo index}}Home{{/linkTo}}
                %li {{#linkTo about}}About{{/linkTo}}
                %li {{#linkTo letters}}Archives{{/linkTo}}
            #content
              {{outlet}}
            #footer
              %a{:href => "http://codegreenit.com"}
                %img.cg{:align => "left", :alt => "CG", :height => "57", :src => "img/codegreen.png", :width => "57"}/
              %a{:href => "mailto:news@greenruby.org", :style => "float:right"} contact
              The Green Ruby Newsletter is published by Mose
              %br/
              Sponsored by
              %a{:href => "http://codegreenit.com"} Code Green IT
              %br/

    %script{ type: "text/x-handlebars", :'data-template-name' => 'about' }
      .meat
        :markdown
          ## About Green Ruby

          ### Genesis

          The Newsletter began in june 2012 from the habit I had to
          send weekly newsletter in [Codegreen][1] for our team to know what is
          happenning in our company,. That was purely a teamwork tool for general
          transparency. But with time passing I also included there some links to
          what I was finding around that would be of interest for my geek colleagues.

          That CodeGreen Internal newsletter began to be cluttered with various links
          at the bottom of it. So I decided to separate that links gathering bunch in
          another newsletter. But then it could also be useful for my friends, out of
          the scope of our team.

          ### Green Birth

          At that time I had to test [Mailchimp][2] service for one of our projects, so because
          they offer a free package when volume is not too big, I thought I should just create
          that newsletter as a public freeely available publication.

          So in february 2013 I sent the first Green Ruby Newsletter to 3 subscribers. Well,
          mostly our team :) Then it became a weekly habit, so I got a domain name for it,
          and organicaly it's growing slowly.

          ### The redactor gear

          Codegreen paid for my [Newsblur][3] account so I can
          follow a bunch of feeds. Google reader was my first tool but well, they are closing,
          and actually Newsblur is much better. It's open source and the guy that makes it
          does a great job (too bad it's in python and not in ruby).

          I'm also loading a bunch of podcasts on my phone and after having tried a lot of
          podcast softwares I'm really happy with [Podkicker][4], it's just very convenient and
          it has all I need with the free version. So in my 40 minutes tele commuting to go
          to work, I just get the ears busy. I tried to use [Gpodder][5] but it's not totally perfect
          and the support in podcast clients is not as good as it should be. So I don't
          stick on it, maybe it will evolve and I will get back to it.

          But I also get a lot of news by just wandering around on [Geekli.st][10], on [Coderbits][11],
          hacker news, and I subscribed to a bunch of various newsletters. I also watch teh new gems
          feeds from [@rubygems-alt][12] and I retweet stuff of interest on [@cogtw][13] account
          (those 2 are my alternate twitter identities).

          Each week [William][14] (aka xenor) also sends me a list of links. But I definately
          don't use any facebook feeds. For some reason, this is a place I avoid the most I can.

          ### What next ?

          My ambition there is to keep it non-comercial, and change it to be more community
          driven. The preparation of the letter is eating a big part of my saturdays for the last
          13 weeks and I don't think I can keep up the same pace for long time.

          The idea I have about the community driven thing is by engineering some automation on
          the news gathering (to replace newsblur), have a place where the news can be triaged
          by various people, a little bit like it is on [Hacker News][6] with a vote system. But
          the gatherign won't limit to blog posts and rss feeds, there would also be podcasts
          and video feeds. There is now a lot of possibilities in automation on feeds aggregation.
          I worked on a project that already does that feeds aggregation, named "the Blux". And I expect
          to replicate parts of it for my Green Ruby Engine.

          But also, as usual, this project is also an occasion to play with recent technologies or
          stuff I want to know more about, otherwise where is the fun ? So here comes [Ember.js][7],
          on the top of [Sinatra][15] with [mongoDB][8], and there will be much more on the road
          (thinking about trying [Sponges][9] too).

          [mose][42]


            [1]: http://codegreenit.com "Code Green website"
            [2]: http://mailchimp.com "Mass mailing from the Chimps"
            [3]: http://newsblur.com "RSS feeds aggregation and reader"
            [4]: http://www.podkicker.com/ "Podkicker"
            [5]: https://gpodder.net/user/mose "Mose podcasts list on gPodder"
            [6]: https://news.ycombinator.com/ "Hacker News"
            [7]: http://emberjs.com/ "Ember js web appilcation client side"
            [8]: http://www.mongodb.org/ "MongoDB NoSQL database"
            [9]: http://af83.github.io/sponges/ "Turn any Ruby object into a daemon controlling an army of sponges."
            [10]: https://geekli.st/ "Geeks social network"
            [11]: https://coderbits.com "Skill gathering for geeks"
            [12]: https://twitter.com/RubyGemsAlt "Tweet feed of uploaded gems"
            [13]: https://twitter.com/cogtw "Technical News tweet feed from mose at code green"
            [14]: https://github.com/tubaxenor "The Xenor with his tuba"
            [15]: http://www.sinatrarb.com/ "Put this in your pipe and smoke it"
            [42]: https://twitter.com/mo5e "Mose on twitter"


    %script{ type: "text/x-handlebars", :'data-template-name' => 'letters' }
      .menu
        %h2 Archives
        %ul
          %li
            %span 21 apr 2013
            %a{:href => "http://eepurl.com/ym1lj"} #011
          %li
            %span 13 apr 2013
            %a{:href => "http://eepurl.com/xZ4Z1"} #010
          %li
            %span 06 apr 2013
            %a{:href => "http://eepurl.com/xKFWv"} #009
          %li
            %span 30 mar 2013
            %a{:href => "http://eepurl.com/xi8jr"} #008
          %li
            %span 23 mar 2013
            %a{:href => "http://eepurl.com/w69bH"} #007
          %li
            %span 17 mar 2013
            %a{:href => "http://eepurl.com/wRRp5"} #006
          %li
            %span 09 mar 2013
            %a{:href => "http://eepurl.com/wgy9f"} #005
          %li
            %span 02 mar 2013
            %a{:href => "http://eepurl.com/vUhcf"} #004
          %li
            %span 24 feb 2013
            %a{:href => "http://eepurl.com/vvRsH"} #003
          %li
            %span 16 feb 2013
            %a{:href => "http://eepurl.com/vjRU9"} #002
          %li
            %span 12 feb 2013
            %a{:href => "http://eepurl.com/rnieH"} #001
      .meat
        Archives


    %script{ type: "text/x-handlebars", :'data-template-name' => 'index' }
      .meat
        The Green Ruby Newsletter is a weekly newsletter sent by mail to a bunch of
        %b web developers.
        It gathers links to new content from the very past week,
        about web development, ruby language, but also javascript, html, css and other news
        of interest for web developers, coders, scripters, etc.
        %br
        %form
        %blockquote
          purist &gt; WTF! Rubies are red, you heretic!
          %br/
          editor &gt; yeah but if it passes all tests it gets green
          %br/
          purist &gt; ...


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/vendor/handlebars-1.0.0-rc.3.js"></script>
    <script src="js/vendor/ember-1.0.0-rc.3.min.js"></script>
    <script src="js/vendor/ember-data-latest.min.js"></script>
    <script src="js/extra.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>
    != js :app

    :javascript
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://#{@stats['server']}/" : "http://#{@stats['server']}/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", #{@stats['id']});
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    %noscript
      %p
        %img{:alt => "", :src => "http://#{@stats['server']}/piwik.php?idsite=#{@stats['id']}", :style => "border:0"}/
